<div data-hook="admin_product_form_can_be_part">
  <%= f.field_container :can_be_part, class: ['form-group'] do %>
    <%= f.label :can_be_part %>
    <%= f.error_message_on :can_be_part %>
    <%= f.check_box :can_be_part, class: 'form-control' %>
  <% end %>
</div>

<div data-hook="admin_product_form_individual_sale">
  <%= f.field_container :individual_sale, class: ['form-group'] do %>
    <%= f.label :individual_sale %>
    <%= f.error_message_on :individual_sale %>
    <%= f.check_box :individual_sale, class: 'form-control' %>
  <% end %>
</div>


<div data-hook="admin_product_form_add_parts_individually">
  <%= f.field_container :individual_sale, class: ['form-group'] do %>
    <%= f.label :individual_sale %>
    <%= f.error_message_on :individual_sale %>
    <%= f.check_box :individual_sale, class: 'form-control' %>
  <% end %>
</div>

<% if @product.assembly? %>
  <div data-hook="admin_product_form_add_parts_individually">
    <%= f.field_container :add_parts_individually, class: ['form-group'] do %>
      <%= f.label :add_parts_individually %>
      <p class='help-block'> If this product has parts, should they be added to the cart as individual line items?</p>
      <%= f.error_message_on :add_parts_individually %>
      <%= f.check_box :add_parts_individually, class: 'form-control' %>
    <% end %>
  </div>
  <% content_for :head do %>
    <script type="text/javascript">
      jQuery(document).ready(function(){
        $("input[id='product_on_hand']").attr('disabled',true).parent().hide();
        $("input#product_can_be_part").attr('disabled',true);
      });
    </script>
  <% end %>
<% end %>